# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Data files
data/raw/
data/interim/

# Power BI temporary files
*.pbi.local
*.pbi.tmp

# VS Code
.vscode/